# Study For Loop in Python
## Vishvam Delwadiya
## PRN: - 25070123124

In [ ]:
# Syntax of for loop
for variable in sequence:
    statement(s)

In [3]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [4]:
#print odd numbers 1 to 10

for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

In [7]:
#print even number 1 to 10
for i in range(2, 11, 2):
 print(i)

2
4
6
8
10

In [12]:
#add first N numbers
n = int(input("Enter N: "))
total = 0
for i in range(1, n+1):
 total += i
print("Sum =", total)

Enter N: 5
Sum = 15

In [31]:
# 3x3 matrix display
A = [[1,2,3],
  [4,5,6],
  [7,8,9]]

for i in range(3):
   for j in range(3):
      print(A[i][j], end=" ")
   print()

1 2 3
4 5 6
7 8 9

In [37]:
# Multiplication of matrix

A = [[1,2,3],
    [4,5,6],
    [1,2,1]]
B = [[1,1,1],
    [6,5,4],
    [3,2,1]]

Result =[[0,0,0],
     [0,0,0],
     [0,0,0]]

for i in range(3):               #rows of A
    for j in range(3):           #columns of B
        for k in range(3):
            Result[i][j] += A[i][k] * B[k][j]
for row in Result:
    print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [38]:
#Python program to aacept three digits and print all possible combination

d1=1
d2=2
d3=3
d=[d1,d2,d3]

#123, 132, 213,231, 312,321

for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i]!=d[j] and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [47]:
#code for inverted right angle traingle
for i in range(5,0, -1):
  print("*"*i)

*****
****
***
**
*

In [52]:
#pyramid shape

rows = 5
for i in range(1, rows + 1):
  print(" " * (rows - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *